.input {
    display: flex;
    position: relative;
    align-items: center;
}

.input__area {
    width: 100%;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input__area:focus{
    box-shadow:  0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_button {
    position: inherit;
    height: 65px;
    width: 50px;
    right: 0px;
    border: none;
    font-size: 25px;
    background-color: white;
    color: black;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_button:hover {
    background-color:darkgray;
}

.input_button:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.todoList {
    display: flex;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    flex-direction: column;
}

.todo_single_list {
    display: flex;
    width: 30%;
    border-radius: 0%;
    padding: 20px;
    margin-top: 15px;
    border: 2px solid black;
}


.todo_single_list_text {
    flex: 1;
    padding: 2px;
    font-size: 25px;
}

.icons {
    align-self: center;
    cursor: pointer;
}

.icon {
    margin-right: 15px;
}

.Timer {
    align-self: center;
}

.row_timer {
    display: flex;
}

.time {
    margin-right: 15px;
}
.button_timer {
    margin-right: 15px;
    border: none;
    border: 1px solid black;
}

.todo_single_list_active {
    border: 2px solid red;
}